.box{
    height: auto;
    width: 100%;
    font-family: sans-serif;
}
.table{
    height: auto;
    width: 90%;
    margin: auto;
    border: transparent;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
}
.table thead{
    height: 60px;
    border-bottom:2px solid red ;
}
.table tfoot{
    height: 80px;
    border-top:2px solid red ;
    font-size: large;
    font-weight: 600;
}
table img{
    height: 130px;
    width: 130px
}
#image{
    padding: 20px;
}
#cart-td{
    color: black;
}
@media (min-width:200px) and (max-width:600px) {
    .table tfoot{
        height: 200px;
    }
    .table{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #gpay{
        position: absolute;
        right: 30px;
    }
    .table img{
        height: 40px;
        width: 40px;
        margin: 5px;
    }
    #image{
        padding: 0 2px;
    }
    #cart-tbody button{
        padding:0 3px;
        font-size: 15px;
    }
    #cart-td{
        font-size: 12px;
    }
    .table thead{
        height: 40px;
        margin-top: 20px;
    }
    .item{
        font-size: 12px;
    }
}